@using HubArena.Business.Enums
@model FuncionarioViewModel

<link rel="stylesheet" href="~/css/enderecoPartial.css" asp-append-version="true" />


<div class="mt-2">
    <div>
        <h2>Endereço</h2>
    </div>
    @if (Model != null)
    {
        <table class="tb-endereco-details">
            <thead>
                <tr>
                    <th>CEP</th>
                    <th>UF</th>
                    <th>Cidade</th>
                    <th>Bairro</th>
                    <th>Logradouro</th>
                    <th>Número</th>
                    <th>Complemento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.Endereco.Cep)</td>
                    <td>@Html.DisplayFor(model => model.Endereco.Estado)</td>
                    <td>@Html.DisplayFor(model => model.Endereco.Cidade)</td>
                    <td>@Html.DisplayFor(model => model.Endereco.Bairro)</td>
                    <td>@Html.DisplayFor(model => model.Endereco.Logradouro)</td>
                    <td>@Html.DisplayFor(model => model.Endereco.Numero)</td>
                    <td>@Html.DisplayFor(model => model.Endereco.Complemento)</td>
                    <td>
                        <a asp-action="AtualizarEndereco" asp-route-id="@Model.IdFuncionario" class="btn btn-editar-endereco" data-modal="">
                            <img src="~/img/pencil.svg"/>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>

<script>
    SetModal();
</script>

