@model HubArena.App.ViewModels.FuncionarioViewModel

<link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />

<partial name="_HeaderLogo"></partial>

<div class="container-info">
    <a asp-action="Index">
        <img src="~/img/arrow.svg" alt="">
    </a>
    <h1 class="titulo">FUNCIONÁRIOS</h1>
</div>
<h2 class="subtitulo">Informações</h2>

<div class="container-dados">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Senha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Senha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPessoa)
        </dt>
        <dd class = "col-sm-10">
            @this.StatusDaPessoa(Model.StatusPessoa)
        </dd>

        <div id="EnderecoTarget">
            <partial name="_EnderecoDetails" />
        </div>

        <dd class="col-sm-10 componente-editar">
            <a asp-action="Edit" asp-route-id="@Model?.IdFuncionario">
                <img src="~/img/pencil.svg" />
            </a>
        </dd>
    </dl>
</div>
<div class="componente-apagar">
    <span>Apagar</span>
    <a asp-action="Delete" asp-route-id="@Model?.IdFuncionario">
        <img src="~/img/trash.svg" />
    </a>
</div>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            SetModal();
        });
    </script>
}
