@model IEnumerable<HubArena.App.ViewModels.FuncionarioViewModel>

<link rel="stylesheet" href="~/css/tabelas.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<partial name="_HeaderLogo"></partial>

<h1 class="titulo">FUNCIONÁRIOS</h1>
<div class="container-create">
    <a asp-action="Create" class="subtitulo">
        <img src="~/img/plus.svg" alt="">
        Adicionar novo funcionário
    </a>
</div>

<table>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                @{/*
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                */}
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                @{/*
                <td>
                    @Html.DisplayFor(modelItem => item.Senha)
                </td>
                */}
                <td>
                    @this.StatusDaPessoa(item.StatusPessoa)
                </td>
                
                
                <td class="td-view">
                    <a asp-action="Details" asp-route-id="@item.IdFuncionario">
                        <img src="~/img/view.svg" alt="View" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
