@model HubArena.App.ViewModels.QuadraViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuadraViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoQuadra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoQuadra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusQuadra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusQuadra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEsporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEsporte)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdQuadra">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
